[submodule "static"]
	path = static
	url = git://github.com/njuhalley/static
[submodule "views"]
	path = views
	url = git://github.com/njuhalley/QingwuWIKI-views
[submodule "uploads"]
	path = uploads
	url = git://github.com/njuhalley/uploads